* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 750px;
}
header .background-theme {
  width: 100%;
  height: 100%;
  background-image: url(/images/theme_slider2_bg-1.jpg?851a694d650039b6a1a2658d8650c16c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header .background-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(218, 95, 96, 0.902);
}
header .header-navbar {
  width: 100%;
  height: 160px;
  border: 1px solid red;
  display: flex;
  padding: 30px 50px;
  font-family: "Fredoka One", cursive;
}
header .header-navbar__logo-container {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
}
header .header-navbar__logo-container img {
  width: 270px;
}
header .header-navbar__link-section {
  width: 80%;
  height: 100%;
  display: flex;
}
header .header-navbar__link-section .links {
  width: 80%;
  height: 100%;
}
header .header-navbar__link-section .links ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}
header .header-navbar__link-section .links ul li {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 30px;
  color: #fff;
}
header .header-navbar__link-section .links ul li a {
  text-decoration: none;
  font-size: 17px;
  color: #fff;
}
header .header-navbar__link-section .links ul li i {
  margin-left: 10px;
  font-size: 15px;
}
header .header-navbar__link-section .links ul li:hover {
  color: #EAD758;
}
header .header-navbar__link-section .links ul li:hover a {
  color: #EAD758;
}
header .header-navbar__link-section .navbar-button {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .header-navbar__link-section .navbar-button a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 65px;
  padding: 15px 0;
  border-radius: 50px;
  border: 1px solid #EAD758;
  background-color: #EAD758;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
}
header .header-navbar__link-section .navbar-button a:hover {
  background-color: #fff;
  border: 1px solid #fff;
  color: #E56768;
}
header .hero {
  display: flex;
  width: 100%;
  height: calc(100% - 290px);
  border: 1px solid red;
}
header .hero .arrow-left, header .hero .arrow-right {
  width: 25%;
  height: 100%;
  border: 1px solid red;
}
header .hero .center {
  width: 50%;
  height: 100%;
  text-align: center;
}
header .hero .center h1 {
  font-size: 60px;
  color: #fff;
  font-family: "Fredoka One", cursive;
}
header .hero .center p {
  margin: 30px 0;
  padding: 0px 10px;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  line-height: 30px;
}
header .hero .center .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
}
header .hero .center .buttons a {
  display: inline-block;
  padding: 20px 45px;
  border-radius: 50px;
  margin-left: 10px;
  text-decoration: none;
  font-size: 16px;
  font-family: "Fredoka One", cursive;
  transition: 0.5s ease-in-out;
}
header .hero .center .buttons a i {
  padding-right: 10px;
}
header .hero .center .buttons a:first-child {
  background-color: #EAD758;
  color: #fff;
}
header .hero .center .buttons a:first-child:hover {
  background-color: #fff;
  color: #E56768;
}
header .hero .center .buttons a:last-child {
  background-color: #fff;
  color: #E56768;
}
header .hero .center .buttons a:last-child:hover {
  background-color: #EAD758;
  color: #fff;
}
header .container-clouds {
  height: 130px;
  width: 100%;
  background-image: url(/images/Wave-1.png?7dfbc50abe80bc3c0a80f3267bdc1c6f);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
