<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/app.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <title>EduPrime</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <header>
            <div class="background-theme">
                <div class="background-overlay">

                    <div class="header-navbar">
                        <div class="header-navbar__logo-container">
                            <img src="img/theme_eduprime_logo.png" alt="">
                        </div>
                        <div class="header-navbar__link-section">
                            <div class="links">
                                <ul>
                                    <!-- <li><a href="#">Home</a><i class="fas fa-caret-down"></i></li>
                                    <li><a href="#">Courses</a><i class="fas fa-caret-down"></i></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">News</a><i class="fas fa-caret-down"></i></li>
                                    <li><a href="#">Pages</a><i class="fas fa-caret-down"></i></li>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">Purchase</a></li> -->
                                    <li v-for="item in linkNavbar"><a href="#">{{item}}</a></li>
                                </ul>
                            </div>
                            <div class="navbar-button">
                                <a href="#">view courses</a>
                            </div>
                        </div>
                    </div>

                    <div class="hero">
                        <div class="hero__left-bar">
                            <i class="fas fa-shopping-cart"></i>
                            <i class="fas fa-book-open"></i>
                            <i class="far fa-life-ring"></i>
                        </div>
                        <div class="arrow-left"></div>
                        <div class="center">
                            <h1><span>Key to your success</span></h1>
                            <p>
                                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, sint excepturi, laborum numquam deserunt libero nobis nisi ipsum iure harum vel porro, cumque illum officia ex. Excepturi laborum harum quod esse. Deleniti ullam fugiat voluptatem hic adipisci nulla similique commodi?</span>
                            </p>
                            <div class="buttons">
                                <a href="#"><i class="fas fa-search"></i>Search courses</a>
                                <a href="#"><i class="fas fa-user-plus"></i>Apply for university</a>
                            </div>
                        </div>
                        <div class="arrow-right"></div>
                    </div>

                    <div class="container-clouds">
                    </div>
                </div>
            </div>
        </header>
    
        <main>

            <section class="browser-courses">
                <div class="browser-courses__container">
                    <div class="browser-courses__container__text">
                        <div class="brw-course-cont-img">
                            <img src="img/Books-icon.png" alt="">
                        </div>
                        <h1>Thousands of courses for any type of student</h1>
                        <p>At EduPrime, it doesn’t matter what domain you wish to pursue a career in. Here you can find a course that satisfies your needs within a click away and applies for a course in a matter of minutes. EduPrime is ranked as the most versatile university in the world, thanks to the number of courses it provides.</p>
                        <a href="#">Browser through courses</a>
                    </div>
                    <div class="browser-courses__container_img">
                        <img src="img/Graduation-Illustration.png" alt="Graduation-Illustration">
                    </div>
                </div>
            </section>

            <section class="faculties">
                <h1>Faculties available at EduPrime</h1>
                <p>A single university with a load of courses, tailored to satisfy any student’s needs.</p>

                <div class="faculties__container-box">
                    <div v-for="item in faculties" class="faculty">
                        <a href="#">
                            <img :src="item.img" alt="">
                            <span>{{item.title}}</span>
                        </a>
                        <div class="arrow-down-select"></div>

                    </div>
                </div>
            </section>

        </main>
    
        <footer>
        </footer>
    </div>

    <script src="js/main.js"></script>
</body>
</html>