<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/app.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Source+Sans+Pro:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <title>EduPrime</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <header>
            <div class="background-theme">
                <div class="background-overlay">

                    <div class="header-navbar">
                        <div class="header-navbar__logo-container">
                            <img src="img/theme_eduprime_logo.png" alt="">
                        </div>
                        <div class="header-navbar__link-section">
                            <div class="links">
                                <ul>
                                    <!-- <li><a href="#">Home</a><i class="fas fa-caret-down"></i></li>
                                    <li><a href="#">Courses</a><i class="fas fa-caret-down"></i></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">News</a><i class="fas fa-caret-down"></i></li>
                                    <li><a href="#">Pages</a><i class="fas fa-caret-down"></i></li>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">Purchase</a></li> -->
                                    <!-- <li v-for="item in linkNavbar"><a href="#">{{item}}</a></li> -->
                                    <li v-for="item in itemNavbarHeader">
                                        <a href="#">{{item.section}}</a>
                                        <i  v-if="item.dropdown === true" class="fas fa-caret-down"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="navbar-button">
                                <a href="#">view courses</a>
                            </div>
                        </div>
                    </div>

                    <div class="hero">
                        <div class="hero__left-bar">
                            <i class="fas fa-shopping-cart"></i>
                            <i class="fas fa-book-open"></i>
                            <i class="far fa-life-ring"></i>
                        </div>
                        <div class="arrow-left"></div>
                        <div class="center">
                            <h1><span>Key to your success</span></h1>
                            <p>
                                <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, sint excepturi, laborum numquam deserunt libero nobis nisi ipsum iure harum vel porro, cumque illum officia ex. Excepturi laborum harum quod esse. Deleniti ullam fugiat voluptatem hic adipisci nulla similique commodi?</span>
                            </p>
                            <div class="buttons">
                                <a href="#"><i class="fas fa-search"></i>Search courses</a>
                                <a href="#"><i class="fas fa-user-plus"></i>Apply for university</a>
                            </div>
                        </div>
                        <div class="arrow-right"></div>
                    </div>

                    <div class="container-clouds">
                    </div>
                </div>
            </div>
        </header>
    
        <main>

            <section class="browser-courses">
                <div class="browser-courses__container">
                    <div class="browser-courses__container__text">
                        <div class="brw-course-cont-img">
                            <img src="img/Books-icon.png" alt="">
                        </div>
                        <h1>Thousands of courses for any type of student</h1>
                        <p>At EduPrime, it doesn’t matter what domain you wish to pursue a career in. Here you can find a course that satisfies your needs within a click away and applies for a course in a matter of minutes. EduPrime is ranked as the most versatile university in the world, thanks to the number of courses it provides.</p>
                        <a href="#">Browser through courses</a>
                    </div>
                    <div class="browser-courses__container_img">
                        <img src="img/Graduation-Illustration.png" alt="Graduation-Illustration">
                    </div>
                </div>
            </section>

            <section class="faculties">
                <h1>Faculties available at EduPrime</h1>
                <p>A single university with a load of courses, tailored to satisfy any student’s needs.</p>

                <div class="faculties__container-box">
                    <div v-for="item in faculties" class="faculty">
                        <a href="#">
                            <img :src="item.img" alt="">
                            <span>{{item.title}}</span>
                        </a>
                        <div class="arrow-down-select"></div>

                    </div>
                </div>

                <div class="faculty-info-container">
                    <div class="faculty-info-container__img">
                        <img src="img/Gavel-Illustration-e1556884768193.png" alt="Gavel Illustration">
                    </div>
                    <div id="faculty-info-container-text">
                        <h2>Law Faculty</h2>
                        <span>Learning from world-leading academics and practitioners, you’ll not only receive an outstanding grounding in the theory of law, but you will be able to understand how those principles are applied in practice through a range of student-led activities and competitions.</span>
                        <a href="#">Read more</a>
                    </div>
                
                </div>

                <div class="bottom-wave">
                    <svg xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" xmlns="http://www.w3.org/2000/svg" width="2116.000000pt" height="133.000000pt" viewBox="0 0 2116.000000 133.000000" preserveAspectRatio="xMidYMid meet"><g transform="translate(0.000000,133.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                        <path class="st0"d="M60 1326 c0 -8 228 -141 355 -207 356 -186 686 -267 968 -239 151 15
                        294 48 543 126 400 125 576 161 844 171 456 16 987 -106 1606 -371 71 -31 142 -56 158 -56 15 0 173 16 350 35 850 92 1666 154 2591 197 369 17 1816 17 2150 0 894 -47 1632 -129 2265 -254 133 -26 242 -43 285 -42 39 0 194 14 345 32 609 70 1024 96 1570 96 942 0 1628 -98 2440 -349 443 -136 797 -213 1194 -259 l130 -15 305 203 c852 568 1419 835 1816 853 284 13 430 -79 570 -357 79 -157 120 -194 195 -171 68 20 156 89 289 227 l131 136 0 124 0 124 -10550 0 c-5802 0 -10550 -2 -10550 -4z" fill="#E56768">
                        </path></g>
                    </svg>
                </div>
            </section>

            <section class="university-year">
                <div id="university-year__container">
                    <div class="university-year_icon">
                        <img src="img/Clock-and-Bell.png" alt="Clock-and-Bell">
                    </div>
                    <h1>University Year</h1>

                    <div class="time-line-top">
                        <div class="time-line-top-content">
                            <h6>Demo Classes</h6>
                            <p>In the first week, students try to accommodate with the teaching style and choose their optional courses</p>
                        </div>
                        <div class="time-line-top-content">
                            <h6>Graduation Day</h6>
                            <p>On the day of graduation, all students gather for the ceremony and then network and party among others.</p>
                        </div>
                    </div>
                    <div class="timeline-container">
                        <img src="img/Timeline-Item.png" alt="time-line">
                    </div>
                    <div class="time-line-bottom">
                        <div class="time-line-bottom-content">
                            <h6>Orientation</h6>
                            <p>First day of the university year, all students gather for the opening ceremony and then network with others.</p>
                        </div>
                        <div class="time-line-bottom-content">
                            <h6>Evaluation</h6>
                            <p>At the end of a semester, students take a general evaluation test for every subject they’re learning.</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="upcoming-events">
                <div class="upcoming-events-icon">
                    <img src="img/upcoming-events-calendar-icon.png" alt="">
                </div>
                <h1>Upcoming Events</h1>

                <div class="container-boxes-events">
                    <div class="box-event">
                        <a href="#">Coaching Sessions</a>
                        <span><i class="far fa-calendar-alt"></i>20 May 21:30 PM</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor[...]</p>
                        <a id="button-box" href=""><i class="fas fa-plus"></i>Find More</a>
                    </div>
                    <div class="box-event">
                        <a href="#">Coaching Sessions</a>
                        <span><i class="far fa-calendar-alt"></i>20 May 21:30 PM</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor[...]</p>
                        <a id="button-box" href=""><i class="fas fa-plus"></i>Find More</a>
                    </div>
                    <div class="box-event">
                        <a href="#">Coaching Sessions</a>
                        <span><i class="far fa-calendar-alt"></i>20 May 21:30 PM</span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quidem magni tempore! Architecto debitis itaque tenetur quod quibusdam quasi temporibus repudiandae eaque quas suscipit corporis nesciunt unde provident magnam, commodi minus voluptatum quisquam nulla nisi non eius dolor dicta cum!</p>
                        <a id="button-box" href=""><i class="fas fa-plus"></i>Find More</a>
                    </div>
                </div>

                <div class="button-more-events">
                    <a href="#">View All Events</a>
                </div>
            </section>

            <section class="latest-courses">
                <div class="latest-courses-wave">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="2821.333" height="177.333" viewBox="0 0 2116 133"><path class="st0" d="M6 .4c0 .8 22.8 14.1 35.5 20.7 35.6 18.6 68.6 26.7 96.8 23.9 15.1-1.5 29.4-4.8 54.3-12.6 40-12.5 57.6-16.1 84.4-17.1 45.6-1.6 98.7 10.6 160.6 37.1 7.1 3.1 14.2 5.6 15.8 5.6 1.5 0 17.3-1.6 35-3.5 85-9.2 166.6-15.4 259.1-19.7 36.9-1.7 181.6-1.7 215 0 89.4 4.7 163.2 12.9 226.5 25.4 13.3 2.6 24.2 4.3 28.5 4.2 3.9 0 19.4-1.4 34.5-3.2 60.9-7 102.4-9.6 157-9.6 94.2 0 162.8 9.8 244 34.9 44.3 13.6 79.7 21.3 119.4 25.9l13 1.5 30.5-20.3c85.2-56.8 141.9-83.5 181.6-85.3 28.4-1.3 43 7.9 57 35.7 7.9 15.7 12 19.4 19.5 17.1 6.8-2 15.6-8.9 28.9-22.7l13.1-13.6V0H1061C480.8 0 6 .2 6 .4z" fill="#e56768"/></svg>
                </div>

                <div class="courses-container">
                    <h1>Latest Courses</h1>
                    <div class="course-info-container">
                        <div v-for="course in latestCourse" class="course-info">
                            <a id="button-view-more" href="#"><i class="far fa-eye"></i>View Course</a>
                            <img :src="course.img" alt="">
                            <a id="title-course" href="#">{{course.title}}</a>
                            <div class="author">
                                <i class="far fa-user"></i>
                                Teacher:
                                <span>{{course.teacher}}</span>
                            </div>
                            <div class="price">
                                <i class="far fa-money-bill-alt"></i>
                                Price:
                                <span>{{course.price}}</span>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <section class="examination-method">
                <div class="examination-method-text">
                    <div class="examination-method-text-icon">
                        <img src="img/Exam-icon.png" alt="">
                    </div>
                    <h1>The most efficient examination method</h1>
                    <p>EduPrime has gathered teachers from around the globe to brainstorm in order to facilitate the evaluation of our students. Every teacher from our university has an influence on how students are evaluated at his/her subject.</p>
                    <a href="">Discover the Method</a>
                </div>
                <div class="examination-method-img">
                    <img src="img/Exam-Illustration.png" alt="Exam-Illustration">
                </div>

            </section>
        </main>
    
        <footer>
        </footer>
    </div>

    <script src="js/main.js"></script>
</body>
</html>