header {
    width: 100%;
    height: 750px;
    .background-theme {
        width: 100%;
        height: 100%;
        background-image: url('../../img/theme_slider2_bg-1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .background-overlay {
        width: 100%;
        height: 100%;
        background-color: $backgroundOverlayColor;
    }

    .header-navbar {
        width: 100%;
        height: 160px;
        display: flex;
        padding: 30px 50px;
        font-family: $fredokaFamily;
        &__logo-container {
            width: 20%;
            height: 100%;
            display: flex;
            align-items: center;
            img {
                width: 270px;
            }
        }
        &__link-section {
            width: 80%;
            height: 100%;
            display: flex;
            .links {
                width: 80%;
                height: 100%;
                ul {
                    list-style: none;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    li {
                        display: flex;
                        align-items: center;
                        height: 100%;
                        margin-right: 30px;
                        color: $whiteTextPrimary;
                        a {
                            text-decoration: none;
                            font-size: 17px;
                            color: $whiteTextPrimary;
                        }
                        i {
                            margin-left: 10px;
                            font-size: 15px;
                        }
                        &:hover {
                            color: $yellowBrand;
                            a {
                                color: $yellowBrand;
                            }
                        }
                    }
                    li:first-child {
                        color: $yellowBrand;
                        a {
                            text-decoration: none;
                            font-size: 17px;
                            color: $yellowBrand;
                        }
                    }
                }
            }
            .navbar-button {
                width: 20%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                a {
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 220px;
                    height: 65px;
                    padding: 15px 0;
                    border-radius: 50px;
                    border: 1px solid $yellowBrand;
                    background-color: $yellowBrand;
                    color: $whiteTextPrimary;
                    font-size: 17px;
                    text-transform: uppercase;
                    @include transitionEase;

                    &:hover {
                        background-color: $whiteTextPrimary;
                        border: 1px solid $whiteTextPrimary;
                        color: $pinkPrimary;
                    }
                }
            }
        }
    }

    .hero {
        position: relative;
        display: flex;
        width: 100%;
        height: calc(100% - 290px);
        &__left-bar {
            position: fixed;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            color: $whiteTextPrimary;
            width: 40px;
            height: 100px;
            background-color: $yellowBrand;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            box-shadow: 0 0 25px rgba(37, 37, 37, 0.4);
            z-index: 1;
            @include transitionEase;
            &:hover {
                width: 50px;
                cursor: pointer;
            }
        }
        .arrow-left, .arrow-right {
            width: 25%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $whiteTextPrimary;
            font-size: 40px;
            &:hover {
                cursor: pointer;
            }
        }
        .center {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            height: 100%;
            text-align: center;
            h1 {
                font-size: 60px;
                color: $whiteTextPrimary;
                font-family: $fredokaFamily;
            }
            p {
                margin: 30px 0;
                padding: 0px 10px;
                font-family: $sourceSansProFamily;
                color: $whiteTextPrimary;
                line-height: 30px;
                font-size: 22px;
            }
            .buttons {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100px;
                a {
                    display: inline-block;
                    padding: 20px 45px;
                    border-radius: 50px;
                    margin-left: 10px;
                    text-decoration: none;
                    font-size: 16px;
                    font-family: $fredokaFamily;
                    @include transitionEase;
                    i {
                        padding-right: 10px;
                    }
                }
                a:first-child {
                    background-color: $yellowBrand;
                    color: $whiteTextPrimary;
                    &:hover {
                        background-color: $whiteTextPrimary;
                        color: $pinkPrimary;
                        cursor: pointer;
                    }
                }
                a:last-child {
                    background-color: $whiteTextPrimary;
                    color: $pinkPrimary;
                    &:hover {
                        background-color: $yellowBrand;
                        color: $whiteTextPrimary;
                        cursor: pointer;
                    }
                }
            }
        }

    }

    .container-clouds {
        height: 130px;
        width: 100%;
        background-image: url('../../img/Wave-1.png');
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }
}