main {
    width: 100%;
    .browser-courses {
        width: 100%;
        height: 500px;
        background-image: url('../../img/home-background.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        margin-top: 20px;
        margin-bottom: 100px;
        &__container {
            width: $widthContainerContent;
            height: 100%;
            margin: auto;
            display: flex;
            align-items: center;
            &__text {
                width: 50%;
                height: 90%;
                .brw-course-cont-img {
                    width: 100%;
                    height: 80px;
                    img {
                        width: 10%;
                    }
                }
                h1 {
                    font-size: $fontSizeH1;
                    font-family: $fredokaFamily;
                    color: $colorH1;
                    margin-bottom: 20px;
                }
                p {
                    font-family: $sourceSansProFamily;
                    color: $colorH1;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    line-height: 30px;
                    padding-right: 10px;
                }
                a {
                    text-decoration: none;
                    display: inline-block;
                    padding: 20px 45px;
                    background-color: $yellowBrand;
                    border-radius: 50px;
                    color: $whiteTextPrimary;
                    font-family: $fredokaFamily;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    &:hover {
                        background-color: #dd3333;
                    }
                }
            }
            .browser-courses__container_img {
                width: 50%;
                height: 100%;
                display: flex;
                align-items: center;
                img {
                    width: 100%;
                }
            }
        }
    }
    .faculties {
        width: 100%;
        height: 500px;
        border-bottom: 1px solid red;
        h1 {
            text-align: center;
            color: $colorH1;
            font-size: $fontSizeH1;
            font-family: $fredokaFamily;
        }
        p {
            width: 22%;
            color: $colorH1;
            margin: 30px auto;
            text-align: center;
            font-size: 16px;
            font-family: $sourceSansProFamily;
            line-height: 30px;
            word-break: break-all;
        }
        &__container-box{
            width: 100%;
            height: 200px;
            display: flex;
            justify-content: center;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
            .faculty {
                width: 235px;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border: 1px solid rgb(230, 228, 228);
                img {
                    width: 40%;
                    margin-bottom: 20px;
                }
                span {
                    font-family: $fredokaFamily;
                    color: $pinkPrimary;
                    font-size: 16px;
                }
            }
            .faculty:first-child {
                background-color: $pinkPrimary;

            }
        }
    }

}