.newsletter {
    width: 100%;
    height: 180px;
    background-color: $pinkPrimary;
    .newsletter-container {
        width: $widthContainerContent;
        height: 100%;
        margin: auto;
        display: flex;
        .cta-newsletter {
            width: 60%;
            height: 100%;
            @include flexCenter($row);
            font-size: 32px;
            color: $whiteTextPrimary;
            font-family: $fredokaFamily;
        }
        .newsletter-input-container {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            position: relative;
            input { 
                display: block;
                width: 90%;
                height: 70px;
                border-radius: 50px;
                border: none;
                margin: auto;
                padding: 20px 20px;
                outline: none;
                font-family: $sourceSansProFamily;
            }
            button {
                position: absolute;
                right: 20px;
                height: 75px;
                width: 75px;
                border-radius: 50px;
                border: none;
                background-color: $yellowBrand;
                font-size: 20px;
                color: $whiteTextPrimary;
                outline: none;
                box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
                @include transitionFast;
                i {
                    font-size: 20px;
                }
                &:hover {
                    background-color: $pinkPrimary;
                    cursor: pointer;
                }
            }
        }
    }
}