.partners {
    width: 100%;
    height: 580px;
    background-image: url('../../img/curva-grigia-580px.png');
    background-size: cover;
    background-repeat: no-repeat;
    h1 {
        padding: 50px 0;
        text-align: center;
        font-size: $fontSizeH1;
        font-family: $fredokaFamily;
        color: $colorH1;
    }
    p {
        width: 50%;
        margin: auto;
        text-align: center;
        line-height: 30px;
        font-family: $sourceSansProFamily;
        margin-bottom: 30px;
    }
    .partners-logo-container {
        width: 80%;
        height: 50px;
        margin: auto;
       .logo-partner {
           display: inline-block;
           width: calc(100% / 8);
           height: 100%;
           img {
               width: 100%;
               height: 100%;
               object-fit: contain;
               object-position: center;
               opacity: .5;
           }
           &:hover {
               cursor: pointer;
               img {
                   opacity: 1;
               }
           }
       }
    }
}