$backgroundOverlayColor: rgba(218, 95, 96, 0.902);
$fredokaFamily: 'Fredoka One', cursive;
$sourceSansProFamily: 'Source Sans Pro', sans-serif;

//colors
$whiteTextPrimary: #fff;
$yellowBrand: #EAD758;
$pinkPrimary: #E56768;